body{
    margin-top: 50px;
    line-height: 15px;
    background-color:  rgb(210, 228, 146);
}


.center{
    text-align: center;
    font-weight: 900;
}
.flex{
    display: flex;
}
.align{
    padding-left: 550px;
    margin-top: 30px;
}
.img{
    padding-top: 4px;
}
.item{
    text-align: center;
}
.spa{
    padding-top: 20px;
    padding-bottom: 20px;
}
.hr{
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 3px solid black;
    margin-top: 30px;

}
.rew{
    margin-top: 20px;
}